body{
    padding: 0;
    width: 90%;
    margin: auto;
    box-shadow: 0 0 18px 20px #00000012;
}
.list_test_one{
    display: flex;
    align-items: center;
}
li{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0 1%;
    font-weight: 500;
    color: green;
}
div{
    padding: 3%;
}
.num1{
    padding: 1px;
    margin: 0;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bolder;
}
button{
    display: flex !important;
    background-color: rgba(255, 0, 0, 0.445);
    font-size: 40px;
    color: black;
    border: none;
    outline: none;
    width: auto;
    height: auto;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    background-color: rgb(255, 0, 0);
    color: white;
}
.ms_error{
    font-size: 20px;
    font-weight: 800;
    color: red;
}